
* {
  font-size: 20px;
}

button {
  white-space: nowrap;
}

canvas {
  position: absolute;
  top: 160px;
  border: 1px solid black;
}

#canDraw {
  left: 50px;
  z-index: 0;
}

#canImage {
  left: 500px;
  z-index: 0;
}

#canOverlay {
  left: 500px;
  z-index: 1;
}

#gridLeft {
  position: absolute;
  top: 160px;
  width: 402px;
  height: 402px;
  border-collapse: collapse;
  left: 50px;
  z-index: -1;
}

#gridRight {
  position: absolute;
  top: 160px;
  width: 402px;
  height: 402px;
  border-collapse: collapse;
  left: 500px;
  z-index: 2;
}

td {
  border: 2px solid black;
}
