
* {
  font-size: 20px;
  font-family: monospace;
  padding: 0;
  margin: 0;

}
.columns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.column {
  display: flex;
  position: relative;
}

/* Right box */
#canDraw {
  z-index: 4;
}

#gridRight {
  width: 402px;
  height: 402px;
  border-collapse: collapse;
  z-index: 2;
}

/* Left box */

#canImage {
  z-index: 0;
}

#canOverlay {
  z-index: 1;
}

#gridLeft {
  width: 402px;
  height: 402px;
  border-collapse: collapse;
  z-index: 2;
}

td {
  border: 2px solid black;
}

